@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&display=swap');

@font-face {
    font-family: 'NewMacchiato';
    src: url('../assets/fonts/New\ Machiato.otf') format('truetype');}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

htlm, header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: relative;
    z-index: 50;
    top: 0
}

html, body {
    
    width: 100%;
    height: auto;
    margin: auto;
    font-family: 'NewMacchiato';
    min-height: 100vh;
    
}



main {
    max-width: 100%;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}