@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

htlm, header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0
}

html, body {
    
    width: 100%;
    height: auto;
    margin: auto;
    font-family: 'Gabarito';
    min-height: 100vh;
    background-color: #F4ECE1;
    padding-top: 90px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    
}



main {
    max-width: 100%;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}

li {
  list-style: none;  
}