.secciontopcontendor {
    width: 100%;
    height: 100%;
    padding: 1% 10%;
    display: grid;
    grid-template-columns: 50% 50%;

    overflow-wrap:break-word;
}


.fotopeluquera {
    position: relative;
    width: 60%;
}

.textsectiontop {
    
    width: 60%;
    padding-right: 5px;
    position: absolute;
    
}

.textsectiontop p {
    width: 60%;
    padding-right: 5px;
    position: absolute;
}

.botonwhatsapp{
    
    position: relative;
    width: 100%;
    top: 35vh;
    overflow: visible;
    left: 1px;
    background-color:transparent;

}

.botonwhatsapp a {
    width: 200px;
    text-decoration: none;
    background-color:#D89A9A;
}