/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



main {
	max-width: 50%;
	margin: 50px auto;
	overflow: hidden;
}
 */
.secciontercera {
	position: relative;
	display: grid;
	grid-template-columns: 30% 70%;
	overflow: hidden;
}


 .contenedorcarrusel 
 
 {
	
	border: solid black 10px;
	
    position: relative;
	align-self: center;
	
	
	
 }

 .carrusel {
	position: relative;
	left: 700px;
	display: flex;
	height: 430px;
	width: 600px;
	
	
	justify-content: center;
	

 }

 .carrusel img {
	width: 30px;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .5s ease;
	left: calc(50% - 110px);
 }

 .carrusel img:hover {
		width: 300px;
		height: 600px;
		opacity: 1.2;
		filter: contrast(150%);
 }

 .contenedorPrincipal {
	position: relative;
 }

.contenedorSlideshow {
	display: flex;
	flex-wrap: nowrap;
}

